langchain==1.0.5
langchain-community==0.4.1
langchain-core==1.0.4
langchain-text-splitters==1.0.0
langchain-groq==1.0.1

pydantic>=2.7.4,<3
python-dotenv==1.0.1

sentence-transformers==5.1.2
faiss-cpu==1.12.0

transformers>=4.35.0
huggingface-hub>=0.26.0

numpy<2



-e .